# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development
JWT_SECRET=dooboolab
DATABASE_URL="mysql://root@localhost:3306/treedots"
TWILIO_API_HOST="FOOBAR"
TWILIO_API_VERIFY="FOOBAR"
TWILIO_AUTH_TOKEN="FOOBAR"
TWILIO_ACCOUNT_SID="FOOBAR"
TWILIO_VERIFY_SID="FOOBAR"
TWILIO_ANDROID_APP_HASH="FOOBAR"

# Stripe
STRIPE_SECRET_KEY_SGD="STRIPE_SECRET_KEY_SGD"
STRIPE_SECRET_KEY_MYR="STRIPE_SECRET_KEY_MYR"
STRIPE_VERSION="STRIPE_VERSION"

# AWS
AWS_ACCESS_KEY_ID="FOOBAR"
AWS_SECRET_ACCESS_KEY="FOOBAR"
AWS_REGION="FOOBAR"
AWS_IMAGES_BUCKET="FOOBAR"


# Slack bot
SLACK_BOT_TOKEN=token

# Firebase
FCM_HOST="https://fcm.googleapis.com/fcm/send"
FCM_SERVER_KEY="FOOBAR"

# SendGrid
SENDGRID_HOST="https://api.sendgrid.com/v3/mail/send"
SENDGRID_API_KEY="FOOBAR"

# Voucherify
VOUCHERIFY_HOST="https://as1.api.voucherify.io"
VOUCHERIFY_APPID="FOOBAR"
VOUCHERIFY_SECRET_KEY="FOOBAR"

# Sentry
SENTRY_DSN_URL=SENTRY_DSN_URL
SENTRY_TRACE_URL=1.0

# CleverTap
CT_HOST="https://api.clevertap.com/1"
CT_ACCOUNT_ID="FOOBAR"
CT_PASSCODE="FOOBAR"

# SendBird
SENDBIRD_URL="FOOBAR"
SENDBIRD_TOKEN="FOOBAR"
SENDBIRD_APP_ID="FOOBAR"

# Xfers
XFERS_HOST="FOOBAR"
XFERS_API_KEY="FOOBAR"
XFERS_API_SECRET="FOOBAR"
XFERS_ACCEPT_SIGNING_SECRET="FOOBAR"
XFERS_SEND_SIGNING_SECRET="FOOBAR"

# Xero
XERO_CLIENT_ID="FOOBAR"
XERO_CLIENT_SECRET="FOOBAR"
XERO_REDIRECT_URI="FOOBAR"
